/* Base Styles
--------------------------------------*/

body {
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 14px;
	line-height: 1.8571;
}

img {
	max-width: 100%;
}

/* Header
--------------------------------------*/

.site-navigation {
    position: absolute;
    top: 60px;
    right: 0;
    left: 0;
    z-index: 20;
}
.site-navigation .navbar-right {
	margin-right: 0;	
}

.site-navigation .navbar-inverse {
	background-color: transparent;
	border: none;
}

.site-navigation .nav > li {
	margin: 10px 15px;
}

.navbar-inverse .navbar-nav > li  >a {
    color: #fff;
	font-size: 1em;
	font-weight: 400;
	padding: 0;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse a {
	border-bottom: 3px solid transparent;
}

.navbar-inverse a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	border-bottom: 3px solid #a2ca28;
}

@media (max-width: 767px) {
	.site-navigation {
		top: 0;
		background-color: #000;
		padding-top: 5px;
		height: 55px;
	}
	
	.site-navigation .navbar {
		margin-bottom: 0;
	}
	.carousel {
		top: 55px;
	}
	
	.site-navigation .container {
		background-color: #000;
	}
}

/* Carousel
--------------------------------------*/

@media (min-width: 768px){
	.carousel-caption {
		left: 0;
	}
}
.carousel-caption {
    right: 15%;
    left: 5%;
	top: 75%;
    color: #fff;
    
	line-height: 0;
	padding-top: 0;
}

.carousel-caption h1 {
	font-size: 2.8571em;
	line-height: 1;
	font-weight: 300;
	text-align: left;
}

.carousel-caption p {
	font-size: 1.0174em;
	position: absolute;
	left: 20%;
}

.caption-text-1 {
	color: #a2ca28;
}

.caption-text-2 {
	color: #fd634e;
}

@media (max-width: 1199px) {
	.carousel-caption p {
		left: 25%;
	}
}

@media (max-width: 991px) {
	.carousel-caption p {
		left: 30%;
	}
}

/* Content
--------------------------------------*/

.content-green {
	background-color: #a2ca28;
	padding: 110px 0 0;
}

.content-icons {
	font-size: 60px;
	color: #00aeef;
}

.content-green h2 {
	font-size: 1.7142em;
	line-height: 2.25;
}

.content-link a{
	color: #00aeef;
}

.content-link a:focus,
.content-link a:hover {
    color: #00aeef;
    text-decoration: underline;
}

.content-images {
	margin-top: 115px;
	background-color: #fff;
}

.content-images img {
	width: 100%;
}

.image-bar-text {
	text-align: center;
	padding: 35px 35px 5px 35px;
	font-weight: 400;
}

.image-bar-text h6 {
	text-transform: uppercase;
	color: #fd634e;
	font-size: 1em;
	line-height: 0.4;
}

.image-bar-text h3 {
	text-transform: uppercase;
	color: #a2ca28;
	font-size: 2.5em;
	line-height: 0.4;
	padding-bottom: 10px;
}

.image-bar-text p {
	padding-top: 10px;
}

.fa-content-image {
	color: #e3e9ea;
	font-size: 1.4285em;
	padding: 5px;
}

.image-bar-text a{
	color: #a2ca28;
}

.fitness-bars {
	background-color: #fd634e;
}

.health-fitness img {
	width: 100%
}

.health-fitness .row {
	margin: 0;	
}

.health-fitness .row div {
	padding: 0;	
}

.lifestyle-text {
	background-color: #fff;
	padding: 55px 30px 20px 45px;
	font-weight: 400;
	height: 313px;
}

.lifestyle-text h3 {
	text-transform: uppercase;
	color: #a2ca28;
	font-size: 2em;
	line-height: 1.2;
	margin-top: 0;
}

.lifestyle-text h6,
.improve-eating h6 {
	text-transform: uppercase;
	color: #fd6d5a;
	font-size: 1em;
	line-height: 1.5714;
	margin: 0;
	font-weight: 600;
}

.fun {
	height: 313px;
	background-color: #a2ca28;
	padding: 55px 45px 10px 60px;
	color: #fff;
	-moz-box-shadow: 0 0 50px #888;
	-webkit-box-shadow: 0 0 50px #888;
	box-shadow: 0 0 50px #444;
}

.fun h3,
.improve-eating h3 {
	text-transform: uppercase;
	font-size: 2em;
	line-height: 1.2;
	margin-top: 0;
}

.improve-eating {
	height: 313px;
	background-color: #a2ca28;
	padding: 55px 45px 10px 60px;
	color: #fff;
}

@media (max-width: 991px) {
	.text-bars {
		text-align: center;
	}
	
	.text-bars .row div {
		padding-bottom: 20px;
	}
	
	.image-bar-text {
		padding-bottom: 35px;
	}
}

@media (min-width: 992px) {
	.content-images .row:first-child div:first-child {
		padding-left: 45px;
		padding-right: 15px;
	}
	
	.content-images .row:last-child div:last-child {
		padding-left: 15px;
		padding-right: 45px;
	}
}

@media (min-width: 768px) {
	.fun-lifestyle .row > div:first-child {
		padding-right: 0;
	}
	
	.fun-lifestyle .row > div:last-child {
		padding-left: 0;
	}
	
	.track-yourself .row > div:first-child {
		padding-right: 0;
	}
	
	.track-yourself .row > div:last-child {
		padding-left: 0;
	}
}

.leaders-section {
	width: 100%;
	position: relative;
}

.leaders-text {
	position: absolute;
	top: 25%;
	left: 20%;
	right: 20%;
	z-index: 10px;
	color: #fff;
	text-align: center;
}

.leaders-text h2 {
	font-size: 3.2142em;
	line-height: 1.125;
	position: relative;
}

.leaders-text p {
	font-size: 1.1428em;
	line-height: 1.4375;
}

@media (max-width: 767px) {
	.leaders-text h2 {
		font-size: 1.5em;
	}
	
	.leaders-text p {
		font-size: 1em;
	}
}

@media (max-width: 1199px) and (min-width: 992px) {
	.leaders-text {
		left: 10%;
		right: 10%;
		padding: 0 20px;
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.leaders-text {
		left: 10%;
		right: 10%;
		padding: 0 20px;
	}
	
	.leaders-text h2 {
		font-size: 2.5em;
	}
	
	.leaders-text p {
		font-size: 1.2em;
	}
}

footer {
	background: #000;
	padding-top: 50px;
	padding-bottom: 300px
}

footer h3 {
	color: #fff;
	font-size: 1.0714em;
	line-height: 0.8;
	padding-bottom: 20px;
}

footer p {
	color: #8297a7;
	font-size: 1em;
	line-height: 1.7142;
}

.social-icons {
	margin-top: 20px;
	font-size: 15px;
}

footer ul {
	list-style: none;
	padding-left: 0;
}

footer li {
	display: inline-block;
}

.facebook a {
	color: #2e3192;
}

.twitter a {
	color: #00aeef;
}

.youtube a {
	color: #ed3123;
}

.linkedin a {
	color: #171a8f;
}

.newsletter {
	margin-top: 20px;
	text-align: right;
}

.newsletter input {
	font-size: 1em;
	padding: 2px 5px;
	color: #83969f;
	border-radius: 2px;
}

.newsletter .input-email {
	width: 340px;
}

.newsletter .btn {
	background-color: #a2ca28;
	color: #fff;
	border-radius: 2px;
	font-size: 1em;
}

.newsletter .btn:hover {
	color: #fd634e;
}

@media (max-width: 991px) {
	footer{
		text-align: center;
	}
	
	footer .newsletter {
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
	}
}

@media (max-width: 767px) {
	.newsletter .input-email {
		width: 100%;
	}
	
	.newsletter .btn {
		width: 100%;
	}
}